---
import Nav from '../components/Nav';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page One">
  <main class="flex flex-col items-center justify-center p-4 gap-4">
    <Nav client:only="react" transition:persist="Nav" />
    <h1 class="text-2xl text-blue-800 dark:text-blue-200">Home Page</h1>
  </main>
</Layout>
